<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/admin/login.css?v=0.1">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <title>login</title>
    <script src="../js/login.js" defer></script>
</head>

<body>
    <div class="login">
        <div class="form-login">
            <div class="text-login">
                <span>
                    Login
                </span>
            </div>
            <form onsubmit="handleLogin(event)">
                <div class="input-item-login">
                    <div class="item">
                        <div class="title-username">
                            <span>
                                Username:
                            </span>
                        </div>
                        <div class="name">
                            <input id="username" placeholder="Enter username" />
                        </div>
                        <div class="title-password">
                            <span>
                                Password:
                            </span>
                        </div>
                        <div class="password">
                            <input id="password" type="password" placeholder="Enter password" />
                        </div>
                    </div>
                </div>
                <div class="button-login">
                    <button class="btn-login" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div id="copyHistoryBox" style="display: none;">
        <!-- Nội dung của box sẽ được thay đổi bằng JavaScript -->
    </div>
</body>

</html>